name: generate_up_card

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  generate-and-commit:
    runs-on: ubuntu-latest
    
    steps:
      - name: 拉取代码仓库
        uses: actions/checkout@v4
      
      - name: 设置Python环境
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'
      
      - name: 安装依赖
        run: |
          python -m pip install --upgrade pip
          pip install playwright
          # 安装Playwright浏览器依赖
          playwright install chromium
      
      - name: 运行生成脚本
        run: |
          python UP_data_gen_img.py --input ./bili/UP_data.json --output ./bili/UP_card
      
      - name: 提交更改到仓库
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: '自动更新UP主数据卡片'
          commit_user_name: 'GitHub Actions'
          commit_user_email: 'actions@github.com'
